/* put your styles here */

#canvas {
	position: absolute;
	left: 75%;
	top: 35%;
	margin-left: -135px;
	margin-top: -135px;
}

#top {
	position: absolute;
	left: 75%;
	top: 35%;
	margin-left: -180px;
	margin-top: -180px;
	width: 360px;
	height: 360px;
	background: transparent url(../images/tool_320.png) no-repeat;
	background-position: 50% 50%;
}